<div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control" required>
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control" required></textarea>
    
</div>

<div class="form-group">
    <label for="body">Body</label>
    <textarea name="body" id="body" class="form-control"></textarea>
    
</div>

<div class="form-group">
    <label for="author">Author</label>
    <input type="text" name="author" id="author" class="form-control" required>
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control" required>
</div>

<div class="form-group">
    <label for="state">State</label>
    <input type="text" name="state" id="state" class="form-control" >
</div>

<div class="form-group">
    <label for="views">Views</label>
    <input type="number" name="views" id="views" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button  class="btn btn-primary" type="submit">Save</button>
